{% extends "clans/base.html" %}
{% load static %}
<!--    context = {'member': member, 'characters': characters}, 'updated': blah -->
{% block header %}

{% endblock header %}

{% block  content %}
<div class="card bg-dark mb-3"
     style="max-width: 25rem; margin-left:5px;margin-right:5px;">

     <img class="card-img-top mx-auto" alt="clan image"
        src="{% static  'clans/ec59.png' %}" style = "width:300px;">

  <div class="card-body">
    <h4 class="card-title" align="center" style = "color:white;">About</h4>
    <p class = "card-text"
    <p class="card-text">Salted Vex Milk was developed over a sixty-four year period starting in 2017 by cortical_iv with feedback from members of EC59, and technical help from the Destiny 2 developer community.</p>

    <p class = "card-text">  The <a href="{% url 'members:members' %}">Members</a> page has basic info about each clan member, such as how much time they have played Destiny 2, and the last time they played. Each member's name is a link to a page that contains information about their  characters.</p>

    <p class = "card-text">The <a href = "{% url 'pvpstats:pvpstats' stat='kd' %}">PvP</a> and <a href = "{% url 'pvestats:pvestats' stat='number_nightfalls' %}">PvE</a> leaderboards contain a dropdown menu of stats such as k/d. For both PvP and PvE there is also a <em>Greatness</em> measure, which is a combination of multiple statistics: if your Greatness is 1 or higher, then you are kicking ass. You can sort based on a stat by clicking its name at the top of the leaderboard: clicking on it again will reverse the order. Stats are expressed in per-game averages when possible.</p>

    <p class = "card-text"><a href = "https://www.reddit.com/r/DestinyTheGame/" target="_blank"><img alt="salt shaker image" src="{% static  'clans/salt.png' %}" style="height:75px;margin:5px;" align="right"></a>Salted Vex Milk is not affiliated with Bungie, or the <em>true</em> God of Salt, DTG.</p>

    <p class="card-text">If you have suggestions or bug reports, please send me a message at our slack channel or github (<i>cortical_iv</i> in both cases). Note data is pulled from Bungie's servers at 4am Eastern each night, so stats may not reflect your most recent pwnage.</p>

    <p class = "card-text"><a href="https://github.com/cortical-iv/salted_vex_milk" target ="_blank">The source code</a> is available at github. Salted Vex Milk uses <a href="https://www.djangoproject.com/" target = "_blank">Django 2</a> on the back end, and <a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap4</a> for the front end.</p>

    <p class = "card-text">Many thanks to JokerRed628 for supplying the image on this page. Thanks to Jessamyn Smith at Codementor for helping me figure out the trickier parts of Django development.</p>

  </div>  <!--  card block -->
</div> <!-- card -->





{% endblock content %}
