{% extends "clans/base.html" %}
{% load static %}
<!--    context = {'member': member, 'characters': characters}, 'updated': blah -->
{% block header %}

{% endblock header %}

{% block  content %}
<!-- This design is from SO: https://stackoverflow.com/a/39229729/9072894 -->
<div class="card text-white bg-secondary mb-3"
     style="width: 20rem; margin-left:5px;margin-right:5px;">

     <img class="card-img-top mx-auto" alt="clan image"
        src="{% static  'clans/ec59.png'    %}">

  <div class="card-block">
    <h4 class="card-title" align="center">About</h4>
    <p class = "card-text"
    <p class="card-text">Salted Vex Milk was developed over a sixty-eight year period starting in 2017 by cortical_iv with feedback from many members of EC59 and lots of technical help from the Destiny developer community.</p>

    <p class = "card-text">Salted Vexmilk scrapes Bungie's servers each night to pull stats about the clan and its members. Note that on the leaderboards, most statistics are expressed in terms of per-game averages. This allows for direct comparison between people with different numbers of matches. The information is set to update automatically once a day, so leaderboards will not necessarily reflect your most recent pwnage.</p>

    <p class="card-text">If anything at the site is broken or needs improvement, please let me know. You can send me a message at our slack channel or github (<i>cortical_iv</i> in both cases). <a href="https://github.com/cortical-iv/salted_vex_milk" target ="_blank">The source code</a> is available at github. The project uses <a href="https://www.djangoproject.com/" target = "_blank">Django 2</a> for the back end, and <a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap4</a> for the front end. </p>

    <p class = "card-text">Thanks to JokerRed628 for supplying the image on this page. This page is not affiliated with Bungie.</p>
  </div>

</div>  <!-- card  class -->









{% endblock content %}
