{% load static %}

<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salted Vex Milk</title>
    <!-- Latest compiled and minified CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->

    <!-- Third-party bootstrap theme, cyborg, from  https://bootswatch.com/cyborg/ -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"  type='text/css'>
   <!-- jQuery library -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <!-- Custom style sheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <!-- favicon -->
  <link rel="icon" href="{% static 'clans/favicon.ico' %}">
</head>

  <body>

   <!-- Navbar (expands vertically on small screens) -->
   <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <!-- Brand (home button outside the collapsible part) -->
      <a class="navbar-brand" href="{% url 'clans:index' %}">Home</a>

      <!-- Collapsible menu button to show, when relevant -->
      <button class = "navbar-toggler" type="button"
              data-toggle="collapse" data-target="#collapsibleNavbar"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              >Menu
      </button>

      <!-- Rest of navbar that can goes into the button, when narrow, -->
      <div class = "collapse navbar-collapse" id = "collapsibleNavbar">
        <ul class="navbar-nav mr-auto">  <!-- mr-auto = margin-right auto -->
          <!-- Members  -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'members:members' %}">Members</a>
          </li>

          <!-- Leaderboards -->
          <li class="nav-item dropdown">
            <a class = "nav-link dropdown-toggle" id="leaderboardsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
               Leaderboards</a>
            <div class = "dropdown-menu" aria-labelledby="leaderboardsDropdown">
              <a class = "dropdown-item"
                 href = "{% url 'pvpstats:pvpstats' stat='kd' %}">PvP</a>
              <a class = "dropdown-item"
                 href = "{% url 'pvestats:pvestats' stat='number_nightfalls' %}">PvE</a>
            </div>
          </li>

          <!-- generic info dropdown -->
          <li class="nav-item dropdown">
            <a class = "nav-link dropdown-toggle" id="clanDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               href = "#">
               More</a>
            <div class = "dropdown-menu" aria-labelledby="clanDropdown">
              <a class = "dropdown-item"
                href ="{% url 'clans:about' %}">About</a>
              <a class = "dropdown-item"
                 href ="https://www.the100.io/groups/372"
                 target="_blank">the100</a>
              <a class = "dropdown-item"
                 href ="https://ec59.slack.com/"
                 target = "_blank">Slack</a>
              <a class = "dropdown-item"
                href ="https://www.youtube.com/channel/UCuoWqSDZ2vz9g8rXjLR7ihw"
                target = "_blank">Youtube</a>
              <a class = "dropdown-item"
                 href ="https://www.bungie.net"
                 target="_blank">Bungie</a>
             <a class = "dropdown-item"
                href ="https://destinyitemmanager.com/"
                target = "_blank">Destiny Item Manager</a>
            </div>
          </li>

        </ul>
      </div> <!-- collapsible part -->
    </nav><!-- Navbar -->
   </div>


      {% block header %} {% endblock header %}

    <div class = "container-fluid">
        {% block content %}{% endblock content %}
   </div>

  </body>
</html>
