{% extends "clans/base.html" %}
{% load static %}
{% block header %}

  <!-- Jumbotron -->
  <div>

    <img src = "{% static 'twoscoops.png' %}">
    <div class="container">
      <h1  style="margin-top:12%;">Salted Vex Milk</h1>
      Stats and more for the {{clan.name}} Clan
    </div>
  </div>


{% endblock header %}

{% block  content %}
    {% if clan  %}
      <div class="row">

       <div class="col-sm-8">
         <h3 style="margin-top:5px;">Clan Description</h3>
         <p style="white-space: pre-line">{{clan.description}}</p>
       </div>

       <div class="col-sm-4">
           <p  style="margin-top:20%;"><b>Number of members:</b> {{clan.num_members}}</p>
           <p><b>Motto:</b> {{clan.motto}}</p>
           <p><b>Call sign:</b> {{clan.call_sign}}</p>
           <p><b>Creation date:</b> {{clan.creation_date}}</p>
           <p><b>Founder:</b> The benevolent, omnipotent <i>{{clan.founder}}</i>.</p>
           <p><b>Clan ID#:</b> <i>{{clan.clan_id}}</i></p>
       </div>

      </div>

    {% else %}
      <p>There is no clan here</p>
    {% endif %}

  <hr/>
  {% if clan.updated %}
    <i>Latest update {{clan.updated}}.</i>
  {% else %}
    <i>Latest update unknown.</i>
  {% endif %}

{% endblock content %}
