{% extends "clans/base.html" %}
{% load static %}
{% block header %}

<!-- Image header -->
 <div style="position:relative;">
    <video id="video-background" preload muted autoplay loop
            poster="{% static 'clans/waterfall_color.jpg' %}">
      <!-- can replace autoplay with control -->
      <source src="{% static 'clans/waterfall_color.mp4' %}" type="video/mp4">
      <source src="{% static 'clans/waterfall_color.webm' %}" type="video/webm">
      <source src="{% static 'clans/waterfall_color.ogv' %}" type="video/ogg">
    </video>

    <div class="vidtext_container">
      <h2  style="margin-bottom:0em">
          <span class="back_white">Salted Vex Milk</span>
      </h2>
      <h7>
        <span class="back_white">Stats and more for the {{clan.name}} clan</span>
      </h7>
    </div>
  </div>

{% endblock header %}

{% block  content %}
    {% if clan  %}
        <div class="row">
           <div class="col-sm-7">
             <h3 style="margin-top:5px;">Description</h3>
             <p style="white-space: pre-line">{{clan.description}}</p>
           </div>

           <div class="col-sm-5">
              <h3 style = "margin-top:5px;">Info</h3>
               <p class="closer"><b>Number of members:</b> {{clan.num_members}}</p>
               <p class="closer"><b>Motto:</b> {{clan.motto}}</p>
               <p class="closer"><b>Call sign:</b> {{clan.call_sign}}</p>
               <p class="closer"><b>Creation date:</b> {{clan.creation_date}}</p>
               <p class="closer"><b>Founder:</b> {{clan.founder}}</p>
               <p class="closer"><b>Clan ID#:</b> <i>{{clan.clan_id}}</i></p>
           </div>
        </div> <!-- row -->

    {% else %}
      <p>There is no clan here</p>
    {% endif %}

  <hr/>
  {% if clan.updated %}
    <i>Latest update {{clan.updated}}.</i>
  {% else %}
    <i>Latest update unknown.</i>
  {% endif %}

{% endblock content %}
