{% extends "clans/base.html" %}
{% load render_table from django_tables2 %}

{% block header %}
<div class = "row" style="margin-top:25px; margin-left:4px;">
  <h3>Member List</h3>
</div>
{% endblock header %}

{% block  content %}
        {% render_table member_table %}

<!--
<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Join Date</th>
      <th>Has played D2</th>
      <th>ID#</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
      <tr>
        <td>{{member.name}}</td>
        <td>{{member.date_joined}}</td>
        {% if member.has_played_d2 %}
          <td class="text-center">Yes</td>
        {% else %}
          <td class="text-center">No</td>
        {% endif %}
        <td>{{member.member_id}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

-->


<hr/>
{% if updated %}
  <i>Last updated {{updated}}.</i>
{% else %}
  <i>Last update unknown.</i>
{% endif %}

{% endblock content %}
