{% extends "clans/base.html" %}

{% block  content %}
<h1>Member list</h1>
Sorted by join date
<ul>
  {% for member in members %}
    <li>
      <b>{{ member.name }}</b>
      Joined {{ member.date_joined }}.
      Membership type: {{ member.membership_type }}.
      ID: {{ member.member_id }}
      <!--  Has played Destiny 2? {{ member.has_played_d2 }} -->
    </li>

  {% empty %}
    <li>No members have been entered yet</li>
  {% endfor %}
</ul>

<hr/>
<p>If you want to update member information, click the button</p>
  <form action = "{% url 'members:members' %}" method = 'post' class="form">
    {% csrf_token %}
    <button type = "submit" class="btn btn-primary">Update Members</button>
  </form>


{% endblock content %}
