{% extends "clans/base.html" %}
{% load render_table from django_tables2 %}

{% block header %}
  <h5 class = "table_title">PvP Leaderboard</h5>
{% endblock header %}


{% block  content %}
  <!-- DROPDOWN MENU -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="pvpstatsDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "margin-left:3em;">
      SELECT STAT
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='all' %}">All Stats</a>
      <div class="dropdown-item" href="#">
        <a class = "text-white" style = "text-decoration:none;"
           href = "{% url 'pvpstats:pvpstats' stat='greatness' %}">Greatness</a>
        <a href="#greatnessModal" class ="bt bt-sm bt-secondary"
           data-toggle="modal" style="margin-left:5px;font-size:smaller;">[What's this?]</a>
      </div>

      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='kd' %}">K/D</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='longest_spree' %}">
        Longest Killing Spree</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='most_kills' %}">
        Maximum Number of Kills</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='kills_per_match' %}">
        Kills per Match</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='deaths_per_match' %}">
        Deaths per Match</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='number_wins' %}">
        Number of Wins</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='win_loss_ratio' %}">
        Win/Loss Ratio</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='suicides' %}">
        Number of Misadventures</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='favorite_weapon' %}">
        Favorite PvP Weapon</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='longest_kill' %}">
        Longest Kill Distance</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='trials_number_matches' %}">
        Trials # Matches</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='trials_kd' %}">
        Trials K/D</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='trials_win_loss_ratio' %}">
        Trials Win/Loss Ratio</a>
      <a class="dropdown-item" href= "{% url 'pvpstats:pvpstats' stat='seconds_played' %}">
        Time in PvP</a>
    </div> <!-- dropdown-menu -->
  </div>  <!-- dropdown class -->

  <div class="modal fade" id = "greatnessModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">What is Greatness?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Greatness combines multiple measures from Crucible into a single-number that summarizes your greatness in the Crucible. It is calibrated so that a really good value is 1.0.</p>

          <p style="white-space: pre-line">The general formula is: <span class="light_bold">Greatness = Skill x Experience</span>.

          <span class = "light_bold">Skill calculation</span>
          <em>Overall PvP</em>
              0.4*kd + 0.2*win_loss + 0.1*spree/10 + 0.1*max_kills/20

          <em>Trials</em>
              0.1*kd/0.5 + 0.1*win_loss/0.4

          <span class = "light_bold">Experience calculation</span>
          Experience is given a number between 0.05 and 1, and depends on the number of matches you have played. This way, if you have played just one PvP match, you can't truly be great.

          <em>PvP</em>
          &lt;20 matches: 0.05
          20-49 matches: 0.8
          &gt;=50 matches: 1.0

           <em>Trials</em>
           &lt;10: 0.05
           10-24: 0.8
           &gt;=25: 1.0

          Using the above definitions, greatness is calculated as:
          <span class = "light_bold">crucible_skill*crucible_experience + pvp_skill*pvp_experience</span>
        </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% render_table pvpstats_table %}



  <footer>
    {% if updated %}
      <i>PvP stats last updated {{updated}}.</i>
    {% else %}
      <i>Last update unknown.</i>
    {% endif %}
  </footer>
{% endblock content %}
